<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Publicar uma Nova Vaga</mat-card-title>
      <mat-card-subtitle>Preencha os detalhes abaixo para encontrar o freelancer perfeito.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="createJobForm" (ngSubmit)="onSubmit()">

        <!-- Título -->
        <mat-form-field appearance="outline">
          <mat-label>Título da Vaga</mat-label>
          <input matInput formControlName="title" placeholder="Ex: Barman para Evento Corporativo">
        </mat-form-field>

        <!-- Descrição -->
        <mat-form-field appearance="outline">
          <mat-label>Descrição da Vaga</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            placeholder="Descreva o trabalho a ser feito, as habilidades necessárias, os entregáveis, etc.">
          </textarea>
        </mat-form-field>

        <!-- Orçamento -->
        <mat-form-field appearance="outline">
          <mat-label>Orçamento (BRL)</mat-label>
          <input matInput formControlName="budget" type="number" placeholder="500">
        </mat-form-field>

       <div class="skills-section-container"> 
    <mat-label class="skills-section-label">Habilidades Necessárias</mat-label> 

    <mat-chip-grid #chipGrid aria-label="Seleção de Habilidades">
      @for (skill of selectedSkills; track skill) {
        <mat-chip-row (removed)="removeSkill(skill)">
          {{skill}}
          <button matChipRemove aria-label="'remover ' + skill">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>

    <mat-form-field appearance="outline" class="skill-input-field">
      <mat-label>Adicionar habilidade...</mat-label>
      <input
        matInput
        id="skill-input"
        placeholder="Digite ou selecione"
        [formControl]="skillCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipGrid"
        (matChipInputTokenEnd)="addSkill($event)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        @for (skill of filteredSkills$ | async; track skill.id) {
          <mat-option [value]="skill.name">{{skill.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div> 
  <button mat-raised-button color="primary" type="submit" [disabled]="createJobForm.invalid || selectedSkills.length === 0">
    Publicar Vaga
  </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
