<a routerLink="/" class="fixed-logo-link">
  <img src="assets/logo/worki.png" alt="Worki logo" class="fixed-logo">
</a>

<div class="auth-container">
  <h2>Esqueceu sua senha?</h2>
  <p class="subtitle">Sem problemas. Digite seu email e enviaremos um link para redefinição.</p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()" class="auth-form">
    
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="email@example.com">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="submit-button"
      type="submit"
      [disabled]="forgotPasswordForm.invalid"  
      [ngClass]="{ 'active-glow': forgotPasswordForm.valid }"
    >
      Enviar Link
    </button>
  </form>

  @if (message) {
    <div class="message-box success-message">{{ message }}</div>
  }
  @if (errorMessage) {
    <div class="message-box error-message">{{ errorMessage }}</div>
  }

  <div class="auth-links">
    <a routerLink="/login" class="back-link">Voltar para o Login</a>
  </div>
</div>